# Visual Studio / VS Code
.vs/
.vscode/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE
.idea/

# ASP.NET Core specific
#appsettings.Development.json
#appsettings.Local.json
#appsettings.json

# EF Core Migrations Snapshot
**/Migrations/*.Snapshot.cs

# JetBrains Rider IDE files
.idea/
*.sln.iml

# NuGet packages
*.nupkg
packages.config
.packages/
packages/

# ASP.NET Temporary files
wwwroot/uploads/

# Logs
*.log

# DotCover
*.dotCover

# Hosting files
*.publish.xml

# Publish output
publish/

# User secrets
secrets.json

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
*.vspscc
*.vssscc

# Mac system files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# React / Node.js

# Node.js dependencies
/node_modules/

# React production build
/build/

# Local environment variables for React
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ESLint cache
.eslintcache
